:root {
  --bandera-amarillo: #F7CA14;
  --bandera-azul: #243786;
  --bandera-rojo: #E4161C;
  --azul-claro: #0075A6;
  --azul-neutro: #175173;
  --azul-oscuro: #162E4D;
  --blanco: #ffffffbd;
  --azul: #175173bd;
  --while: #ffff;
}
  .row_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-color: black;
    background-image: url(./../../assets/img/fondo-azul.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .col_login {
    min-width: 330px;
    max-width: 600px;
    max-height: 600px;
    height: 70%;
    padding: 50px;
    background-color: var(--blanco);
    border-radius: 0 30px 30px 0;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 40px 0px var(--azul-oscuro);
  }
  .img_login{
    background-color: var(--azul);
    border-radius: 30px 0 0 30px;
    background-image: url(./../../assets/img/Logo-sin-fondo-blanco.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 40px 0px var(--azul-oscuro);
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--azul-neutro);
  }
  .login-form-button:not(:disabled):hover{
    background-color: var(--azul-claro);
  }

  .login-link{
    color: var(--azul-claro);
  }
  .login-link:not(:disabled):hover{
    color: var(--azul-oscuro);
  }
  #title_login{
    color: var(--azul-oscuro);
  }
  .title_login{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .check_login{
    color: var(--azul-oscuro);
  }
  :where(.css-dev-only-do-not-override-htwhyh).ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--azul-neutro);
    border-color: var(--azul-oscuro);
  }
  :where(.css-dev-only-do-not-override-htwhyh).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: var(--azul-claro);
    border-color: var(--azul-neutro);
  }
  @media (max-width: 659px) {
    .img_login{
      display: none;
    }
    .col_login{
      border-radius: 30px;
      flex-direction: column;
    }
    .image_login{
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-image: url(./../../assets/img/Logo-sin-fondo-black.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    }
    .title_login{
      display: none;
    }
  }